In [59]:
import pandas as pd
from sklearn import linear_model

# Analyzing the data

In [2]:
df = pd.read_csv('data/properties_2016.csv')

/users/dennis/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [23]:
df_train = pd.read_csv('data/train_2016_v2.csv')

In [24]:
df_train.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [6]:
df.shape

(2985217, 58)

In [25]:
df_train.shape

(90275, 3)

In [8]:
df.columns

Index([u'parcelid', u'airconditioningtypeid', u'architecturalstyletypeid',
       u'basementsqft', u'bathroomcnt', u'bedroomcnt', u'buildingclasstypeid',
       u'buildingqualitytypeid', u'calculatedbathnbr', u'decktypeid',
       u'finishedfloor1squarefeet', u'calculatedfinishedsquarefeet',
       u'finishedsquarefeet12', u'finishedsquarefeet13',
       u'finishedsquarefeet15', u'finishedsquarefeet50',
       u'finishedsquarefeet6', u'fips', u'fireplacecnt', u'fullbathcnt',
       u'garagecarcnt', u'garagetotalsqft', u'hashottuborspa',
       u'heatingorsystemtypeid', u'latitude', u'longitude',
       u'lotsizesquarefeet', u'poolcnt', u'poolsizesum', u'pooltypeid10',
       u'pooltypeid2', u'pooltypeid7', u'propertycountylandusecode',
       u'propertylandusetypeid', u'propertyzoningdesc',
       u'rawcensustractandblock', u'regionidcity', u'regionidcounty',
       u'regionidneighborhood', u'regionidzip', u'roomcnt', u'storytypeid',
       u'threequarterbathnbr', u'typeconstructiontypeid', u'unitcnt',
       u'yardbuildingsqft17', u'yardbuildingsqft26', u'yearbuilt',
       u'numberofstories', u'fireplaceflag', u'structuretaxvaluedollarcnt',
       u'taxvaluedollarcnt', u'assessmentyear', u'landtaxvaluedollarcnt',
       u'taxamount', u'taxdelinquencyflag', u'taxdelinquencyyear',
       u'censustractandblock'],
      dtype='object')

In [9]:
submission_df = pd.read_csv('data/sample_submission.csv')

In [14]:
submission_df.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0

In [15]:
submission_df.shape

(2985217, 7)

In [17]:
df_desc = df.describe()

In [19]:
df_desc.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,2.985217e+06,811519.000000,6061.000000,1628.000000,2.973755e+06,2.973767e+06,12629.000000,1.938488e+06,2.856305e+06,17096.0,...,2647.000000,2.925289e+06,682069.000000,2.930235e+06,2.942667e+06,2.973778e+06,2.917484e+06,2.953967e+06,56464.000000,2.910091e+06
mean,1.332586e+07,1.931166,7.202607,646.883292,2.209143e+00,3.088949e+00,3.725948,5.784787e+00,2.299263e+00,66.0,...,278.296562,1.964262e+03,1.401464,1.708836e+05,4.204790e+05,2.014999e+03,2.524780e+05,5.377607e+03,13.892409,6.048431e+13
std,7.909966e+06,3.148587,2.436290,538.793473,1.077754e+00,1.275859e+00,0.501700,1.805352e+00,1.000736e+00,0.0,...,369.731508,2.344132e+01,0.539076,4.020683e+05,7.263467e+05,3.683161e-02,4.450132e+05,9.183107e+03,2.581006,3.249035e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,66.0,...,10.000000,1.801000e+03,1.000000,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,1.340000e+00,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,4.000000e+00,2.000000e+00,66.0,...,96.000000,1.950000e+03,1.000000,7.480000e+04,1.796750e+05,2.015000e+03,7.483600e+04,2.461070e+03,14.000000,6.037400e+13

#### Columns with more than 1M non-null values

In [22]:
df_desc.loc[:, df_desc.loc['count', :] > 1000000]

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,heatingorsystemtypeid,...,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
count,2.985217e+06,2.973755e+06,2.973767e+06,1.938488e+06,2.856305e+06,2.929652e+06,2.709184e+06,2.973780e+06,2.856305e+06,1.806401e+06,...,2.971237e+06,2.973742e+06,1.977490e+06,2.925289e+06,2.930235e+06,2.942667e+06,2.973778e+06,2.917484e+06,2.953967e+06,2.910091e+06
mean,1.332586e+07,2.209143e+00,3.088949e+00,5.784787e+00,2.299263e+00,1.827162e+03,1.760001e+03,6.048032e+03,2.244165e+00,4.012053e+00,...,9.655267e+04,1.475018e+00,1.181171e+00,1.964262e+03,1.708836e+05,4.204790e+05,2.014999e+03,2.524780e+05,5.377607e+03,6.048431e+13
std,7.909966e+06,1.077754e+00,1.275859e+00,1.805352e+00,1.000736e+00,1.819780e+03,9.710610e+02,2.023278e+01,9.912054e-01,3.293733e+00,...,3.673175e+03,2.840403e+00,2.447896e+00,2.344132e+01,4.020683e+05,7.263467e+05,3.683161e-02,4.450132e+05,9.183107e+03,3.249035e+11
min,1.071172e+07,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.037000e+03,1.000000e+00,1.000000e+00,...,9.598200e+04,0.000000e+00,1.000000e+00,1.801000e+03,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,1.340000e+00,-1.000000e+00
25%,1.164371e+07,2.000000e+00,2.000000e+00,4.000000e+00,2.000000e+00,1.213000e+03,1.196000e+03,6.037000e+03,2.000000e+00,2.000000e+00,...,9.618000e+04,0.000000e+00,1.000000e+00,1.950000e+03,7.480000e+04,1.796750e+05,2.015000e+03,7.483600e+04,2.461070e+03,6.037400e+13
50%,1.254509e+07,2.000000e+00,3.000000e+00,7.000000e+00,2.000000e+00,1.572000e+03,1.539000e+03,6.037000e+03,2.000000e+00,2.000000e+00,...,9.637700e+04,0.000000e+00,1.000000e+00,1.963000e+03,1.225900e+05,3.060860e+05,2.015000e+03,1.670420e+05,3.991780e+03,6.037572e+13
75%,1.409712e+07,3.000000e+00,4.000000e+00,7.000000e+00,3.000000e+00,2.136000e+03,2.070000e+03,6.059000e+03,3.000000e+00,7.000000e+00,...,9.697400e+04,0.000000e+00,1.000000e+00,1.981000e+03,1.968890e+05,4.880000e+05,2.015000e+03,3.069180e+05,6.201005e+03,6.059042e+13
max,1.696019e+08,2.000000e+01,2.000000e+01,1.200000e+01,2.000000e+01,9.525760e+05,2.903450e+05,6.111000e+03,2.000000e+01,2.400000e+01,...,3.996750e+05,9.600000e+01,9.970000e+02,2.015000e+03,2.514860e+08,2.827860e+08,2.016000e+03,9.024622e+07,3.458861e+06,4.830301e+14

#### Homes with multiple transactions in training data

In [29]:
df_train[df_train.parcelid.duplicated()].shape

(125, 3)

In [30]:
df_train[df_train.parcelid.duplicated()].head()

      parcelid  logerror transactiondate
497   13850164   -0.0460      2016-06-29
782   14677191   -0.0845      2016-09-12
814   11005771    0.0545      2016-06-17
968   11183209   -0.0070      2016-09-14
1165  11554091   -0.0954      2016-07-05

# Data Preparation

#### Select only "meaningful" columns (with 2.5M non-null records)

In [39]:
cols = df_desc.loc[:, df_desc.loc['count', :] > 2500000].columns

In [40]:
cols

Index([u'parcelid', u'bathroomcnt', u'bedroomcnt', u'calculatedbathnbr',
       u'calculatedfinishedsquarefeet', u'finishedsquarefeet12', u'fips',
       u'fullbathcnt', u'latitude', u'longitude', u'lotsizesquarefeet',
       u'propertylandusetypeid', u'rawcensustractandblock', u'regionidcity',
       u'regionidcounty', u'regionidzip', u'roomcnt', u'yearbuilt',
       u'structuretaxvaluedollarcnt', u'taxvaluedollarcnt', u'assessmentyear',
       u'landtaxvaluedollarcnt', u'taxamount', u'censustractandblock'],
      dtype='object')

In [41]:
cols.shape

(24,)

In [42]:
df_partial = df.loc[:, cols]

In [43]:
df_partial.shape

(2985217, 24)

In [44]:
df_partial.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,NaN,NaN,9.0,2015.0,9.0,NaN,NaN
1,10759547,0.0,0.0,NaN,NaN,NaN,6037.0,NaN,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN
2,10843547,0.0,0.0,NaN,73026.0,NaN,6037.0,NaN,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN
3,10859147,0.0,0.0,NaN,5068.0,NaN,6037.0,NaN,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN
4,10879947,0.0,0.0,NaN,1776.0,NaN,6037.0,NaN,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,193796.0,433491.0,2015.0,239695.0,5725.17,NaN

In [46]:
df_partial.calculatedbathnbr.describe()

count    2.856305e+06
mean     2.299263e+00
std      1.000736e+00
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      2.000000e+01
Name: calculatedbathnbr, dtype: float64

In [49]:
df_train_no_date = df_train[['parcelid', 'logerror']]

In [64]:
X_train_raw = pd.merge(df_partial, df_train_no_date, on='parcelid', how='inner')

##### TODO: group multiple rows per the same house

In [65]:
X_train_raw.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,...,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror
0,17073783,2.5,3.0,2.5,1264.0,1264.0,6111.0,2.0,34303597.0,-119287236.0,...,97081.0,5.0,1986.0,115087.0,191811.0,2015.0,76724.0,2015.06,6.111002e+13,0.0953
1,17088994,1.0,2.0,1.0,777.0,777.0,6111.0,1.0,34272866.0,-119198911.0,...,97083.0,4.0,1990.0,143809.0,239679.0,2015.0,95870.0,2581.30,6.111002e+13,0.0198
2,17100444,2.0,3.0,2.0,1101.0,1101.0,6111.0,2.0,34340801.0,-119079610.0,...,97113.0,5.0,1956.0,33619.0,47853.0,2015.0,14234.0,591.64,6.111001e+13,0.0060
3,17102429,1.5,2.0,1.5,1554.0,1554.0,6111.0,1.0,34354313.0,-119076405.0,...,97113.0,5.0,1965.0,45609.0,62914.0,2015.0,17305.0,682.78,6.111001e+13,-0.0566
4,17109604,2.5,4.0,2.5,2415.0,2415.0,6111.0,2.0,34266578.0,-119165392.0,...,97084.0,8.0,1984.0,277000.0,554000.0,2015.0,277000.0,5886.92,6.111001e+13,0.0573

In [66]:
y_train = X_train_raw.logerror

In [67]:
X_train = X_train_raw.drop('logerror', 1).fillna(0)

In [68]:
X_train.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,17073783,2.5,3.0,2.5,1264.0,1264.0,6111.0,2.0,34303597.0,-119287236.0,...,2061.0,97081.0,5.0,1986.0,115087.0,191811.0,2015.0,76724.0,2015.06,6.111002e+13
1,17088994,1.0,2.0,1.0,777.0,777.0,6111.0,1.0,34272866.0,-119198911.0,...,2061.0,97083.0,4.0,1990.0,143809.0,239679.0,2015.0,95870.0,2581.30,6.111002e+13
2,17100444,2.0,3.0,2.0,1101.0,1101.0,6111.0,2.0,34340801.0,-119079610.0,...,2061.0,97113.0,5.0,1956.0,33619.0,47853.0,2015.0,14234.0,591.64,6.111001e+13
3,17102429,1.5,2.0,1.5,1554.0,1554.0,6111.0,1.0,34354313.0,-119076405.0,...,2061.0,97113.0,5.0,1965.0,45609.0,62914.0,2015.0,17305.0,682.78,6.111001e+13
4,17109604,2.5,4.0,2.5,2415.0,2415.0,6111.0,2.0,34266578.0,-119165392.0,...,2061.0,97084.0,8.0,1984.0,277000.0,554000.0,2015.0,277000.0,5886.92,6.111001e+13

In [69]:
X_train.shape

(90275, 24)

In [70]:
y_train.shape

(90275,)

## Training

In [75]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Inference

In [77]:
linear_regression.predict(X_train.iloc[0])

/users/dennis/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 0.01037073])

In [78]:
y_train.iloc[0]

0.095299999999999996

In [80]:
X_test = df_partial.fillna(0)
y_test = linear_regression.predict(X_test)

In [84]:
y_test.shape

(2985217,)

In [87]:
X_test.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,...,regionidcounty,regionidzip,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,10754147,0.0,0.0,0.0,0.0,0.0,6037.0,0.0,34144442.0,-118654084.0,...,3101.0,96337.0,0.0,0.0,0.0,9.0,2015.0,9.0,0.00,0.0
1,10759547,0.0,0.0,0.0,0.0,0.0,6037.0,0.0,34140430.0,-118625364.0,...,3101.0,96337.0,0.0,0.0,0.0,27516.0,2015.0,27516.0,0.00,0.0
2,10843547,0.0,0.0,0.0,73026.0,0.0,6037.0,0.0,33989359.0,-118394633.0,...,3101.0,96095.0,0.0,0.0,650756.0,1413387.0,2015.0,762631.0,20800.37,0.0
3,10859147,0.0,0.0,0.0,5068.0,0.0,6037.0,0.0,34148863.0,-118437206.0,...,3101.0,96424.0,0.0,1948.0,571346.0,1156834.0,2015.0,585488.0,14557.57,0.0
4,10879947,0.0,0.0,0.0,1776.0,0.0,6037.0,0.0,34194168.0,-118385816.0,...,3101.0,96450.0,0.0,1947.0,193796.0,433491.0,2015.0,239695.0,5725.17,0.0

##### TODO remove parcelid from the features

In [93]:
predictions = pd.DataFrame()
predictions['ParcelId'] = X_test.parcelid

In [90]:
pd.Series(y_test).head()

0   -0.011682
1   -0.012485
2    0.429876
3   -0.043955
4   -0.063185
dtype: float64

In [94]:
list(submission_df.ParcelId) == list(predictions['ParcelId'])

True

In [96]:
for column in submission_df.columns[1:]:
    print column
    predictions[column] = y_test

201610
201611
201612
201710
201711
201712

In [97]:
predictions.head()

   ParcelId    201610    201611    201612    201710    201711    201712
0  10754147 -0.011682 -0.011682 -0.011682 -0.011682 -0.011682 -0.011682
1  10759547 -0.012485 -0.012485 -0.012485 -0.012485 -0.012485 -0.012485
2  10843547  0.429876  0.429876  0.429876  0.429876  0.429876  0.429876
3  10859147 -0.043955 -0.043955 -0.043955 -0.043955 -0.043955 -0.043955
4  10879947 -0.063185 -0.063185 -0.063185 -0.063185 -0.063185 -0.063185

In [99]:
predictions.to_csv('data/predictions.csv', index=False)